# Fichier .gitignore

# --- Données ---
# Ignorer les données d'entrée (vidéos, etc.)
Datas/
Outputs/

# --- Environnement ---
# Ignorer l'environnement virtuel de Poetry
.venv/

# --- Caches Python ---
__pycache__/
*.pyc
